@model List<FPS.Models.RoleAndAuthority>
<div>
    <input id="Button1" style="margin-left:1600px; margin-top:20px; margin-bottom:20px;" type="button" value="添加角色" class="btn btn-primary" onclick="location.href='/Jurisdiction/AddRole'" />
</div>
<table class="tablelist">
    <tr>
        <th>ID</th>
        <th>角色名称</th>
        <th>权限名称</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    @{
        if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.RoleName</td>
                    <td>@item.Name</td>
                    <td>@(item.State == 0 ? "启用" : "停用")</td>
                    <td>@Html.ActionLink("修改", "UpdateRoleShow", new { id = @item.ID })&nbsp;<a href="javascript:stop(@item.ID.ToString())">停用</a></td>
                </tr>
            }}
    }
</table>
