
@{
    Layout = null;
}
@model List<FPS.Models.Authority>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRole</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Jquery.common-1.2.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {
            //父级选择,子级全选
            $("[name='ck_Father']").click(function () {
                if ($(this).prop("checked")) {
                    $("[name='ck_Child_" + $(this).val() + "']").prop("hidden", "")
                    $("[name='ck_Child_" + $(this).val() + "']").next().prop("hidden", "")

                }
                else {
                    $("[name='ck_Child_" + $(this).val() + "']").prop("hidden", "hidden")
                    $("[name='ck_Child_" + $(this).val() + "']").next().prop("hidden", "hidden")
                }
                $("[name='ck_Child_" + $(this).val() + "']").prop("checked", $(this).prop("checked"))
            })
        })

        function GetAllCk() {
            var list = []
            $("[type=checkbox]:checked").each(function () {
                list.push($(this).val())
            })
            var name = $("#Text1").val()
            console.log(list.toString())
            $.ajax({
                url: "/Jurisdiction/AddRole",
                dataType: "json",
                data: { name: name, qxid: list.toString() },
                type: "post",
                success: function (data) {
                    console.log(data);
                    if (data > 0) {
                        alert("添加成功!为该用户添加 " + data + " 条权限")
                        parent.window.location.href = "/Jurisdiction/ShowUser";
                    }
                    else if (data == -1) {
                        alert("角色添加成功,部分权限添加缺失!");
                        parent.window.location.href = "/Jurisdiction/ShowUser";
                    }
                    else {
                        alert("角色添加失败!");
                        parent.window.location.href = "/Jurisdiction/ShowUser";
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div >
        <form action="/Jurisdiction/AddRole" method="post">
            <table class="table table-border " style="width:50%;margin:0 auto;">
                <tr>
                    <td>添加角色：</td>
                </tr>
                <tr>
                    <td>新增角色名：</td>
                    <td><input id="Text1" type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>请选择角色权限：</td>
                    <td>
                        <table>
                            @foreach (var item in Model)
                            {
                                if (item.FatherId == 0)
                                {
                                    <tr>
                                        <td>
                                            <input id="Checkbox1" type="checkbox" name="ck_Father" data-name="ck_father_@item.ID" value="@item.ID" />
                                            <span>@item.Name</span>
                                        </td>
                                        <td>
                                            @foreach (var item2 in Model)
                                            {
                                                if (item2.FatherId == item.ID)
                                                {
                                                    <input id="Checkbox1" type="checkbox" name="ck_Child_@item.ID" data-father="@item2.FatherId" value="@item2.ID" />
                                                    <span >@item2.Name</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-c">
                        <input id="Button1" type="button" value="添加" onclick="GetAllCk()" class="btn btn-secondary radius" />
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
