
@{
    Layout = null;
}

@model FPS.Models.UserAndRole
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateUserShow</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m=>m.ID)
            <h1>修改用户信息</h1>
            <table class="table table-bordered">
                <tr>
                    <td>登录名：</td>
                    <td>@Html.TextBoxFor(m => m.LoginName)</td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td>@Html.TextBoxFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>真实姓名：</td>
                    <td>@Html.TextBoxFor(m => m.RealName)</td>
                </tr>
                <tr>
                    <td>身份证：</td>
                    <td>@Html.TextBoxFor(m => m.IdCard)</td>
                </tr>
                <tr>
                    <td>手机号：</td>
                    <td>@Html.TextBoxFor(m => m.Phone)</td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td>@Html.TextBoxFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td>添加时间：</td>
                    <td>@Html.TextBoxFor(m => m.AddTime)</td>
                </tr>
                <tr>
                    <td>角色：</td>
                    <td>@Html.DropDownList("role", "请选择角色")</td>
                </tr>
                <tr>
                    <td colspan="2"><input id="Submit1" type="submit" value="添加" onclick="AddUser()" class="btn btn-primary"/></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
